<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @anime.image %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
